<a href="https://colab.research.google.com/github/Aayush0512/Odin-Demo-/blob/main/PLAYGROUND.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Me banuga Data engineer!")

Me banuga Data engineer!

In [ ]:
c = """This very long sentence. It is in the same line
Hi Hello
Bye"""
print(c)

This very long sentence. It is in the same line
Hi Hello
Bye

In [ ]:
name="Aayush"
age=25
married=False
height=5.11
house=None

print(type(height))

<class 'float'>

In [ ]:
# All procedural programming -> Case sensitive(Python, C, C++, Java)
# All non-procedural languages -> Case insensitive (Sql, html)

### **Type conversion**

In [ ]:
a = 3
print(a+50.78)
type(a)

53.78

int

In [ ]:
a = input("Enter the value of a: ")
b = input("Enter the value of b: ")

Enter the value of a: rt
Enter the value of b: 87

In [ ]:
print(a+b)

rt87

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
"3" + "4"

'34'

In [ ]:
a = input("Enter the value of a: ")
b = input("Enter the value of b: ")

a = int(a)
b = int(b)
type(b)

Enter the value of a: 8
Enter the value of b: 6

int

In [ ]:
print(a+b)

14

In [ ]:
a = bool(input("Enter the value of a: "))
type(a)

Enter the value of a: 1

bool

In [ ]:


l1=[[1,1,1],[2,4,8],[3,9,27]]
l2=[]
for x in l1:
  for y in x:
    l2.append(y)


print(l2)

[1, 1, 1, 2, 4, 8, 3, 9, 27]

In [ ]:
 #FIND AVG salary OF each Deparetment IN LIST

data=[
    [101,"John","IT",80000],
    [102,"Jane","HR",45000],
    [103,"Bob","IT",70000],
    [104,"Alice","HR",35000],
]

dept_stats = {}

# Sum salaries and count employees per department
for emp in data:
    dept, salary = emp[2], emp[3]
    if dept not in dept_stats:
        dept_stats[dept] = {'sum': 0, 'count': 0}
    dept_stats[dept]['sum'] += salary
    dept_stats[dept]['count'] += 1



print(dept_stats)

for dept, stats in dept_stats.items():
    avg = stats['sum'] / stats['count']
    print(f"{dept}: ${avg:.2f}")

{'IT': {'sum': 150000, 'count': 2}, 'HR': {'sum': 80000, 'count': 2}}
IT: $75000.00
HR: $40000.00